<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/vue.js"></script>
<style type="text/css">
.blue {
	width: 100px;
	height: 100px;
	background-color: blue;
}

.red {
	width: 100px;
	height: 100px;
	background-color: red;
}
</style>
</head>
<body>
	<div id="app">
		<!-- {{}} -->
		<!-- v-text -->
		<!-- v-html -->
		<!-- v-on事件	 简化写法： @事件 -->
		<h1>
			<span v-text="name"></span> Hello! <br> {{num}} 位朋友!{{message}} <br> <span v-html="word"></span>
		</h1>
		<input type="text" v-model="num" @click="num++">
		<button @click="num++">增加</button>
		<br>
		<button @click="sayhi('大家都好！')">打招呼</button>

		<!-- v-model -->
		<hr>
		请选择你的晚餐： <br>
		<input type="checkbox" v-model="dinner" value="宫爆鸡丁">
		宫爆鸡丁<br>
		<input type="checkbox" v-model="dinner" value="炸鸡排">
		炸鸡排<br>
		<input type="checkbox" v-model="dinner" value="鸡肉卷">
		鸡肉卷<br> 您已选择：<span v-text="dinner.join(',')"></span>
		<!-- 用,拼接数组 -->

		<!-- @事件.stop	阻止事件冒泡 -->
		<!-- @事件.prevent	阻止默认事件发生 -->
		<div style="width: 100px; height: 100px; background-color: cornsilk" @click="click('div')">
			div
			<button @click.stop="click('button')">点击按钮</button>
			<a href="http://www.baidu.com" @click.prevent="click('百度')">百度</a>
		</div>

		<!-- v-for遍历 -->
		<ul>
			<li v-for="(p,i) in peoples" :key="i">
				<span v-text="i+ '：' + p.name+','+p.gender+','+p.age"></span>
			</li>
		</ul>

		<ul>
			<li v-for="(v,k,i) in peoples[0]">
				<span v-text="i + '：' + k + ':' + v"></span>
			</li>
		</ul>

		<ul>
			<li v-for="i in 5">
				<span v-text="i"></span>
			</li>
		</ul>
		<hr>

		<!-- v-if -->
		<div>
			<h1 v-if="show">你好</h1>
		</div>
		<button @click="show = !show">切换</button>

		<ul>
			<li v-for="i in 9">
				<span v-if="i < 5" v-text="'小于五的数：'+i" style="background-color: orange;"></span> <span v-else-if="i > 5" v-text="'大于五的数：'+i" style="background-color: gray;"></span> <span v-else v-text="'等于五的数：'+i"></span>
			</li>
		</ul>

		<!-- v-bind -->
		<div v-bind:class="{blue: showColor, red: !showColor}"></div>
		<button @click="showColor = !showColor">更换背景色</button>

		<!-- 计算属性 -->
		<h3>您的生日是{{birth}}</h3>
		
		<!-- watch监控 -->
		姓名：<input type="text" v-model="watchValue.name">
		年龄：<input type="text" v-model="watchValue.age">
        <hr/>
        
        <!-- 使用Vue全局组件 -->
        <comp></comp>
    
        <!-- 使用Vue局部组件 -->
        <comp2></comp2>
        <hr/>
        
        
        <!-- 父向子通信  无默认值-->
        <comp3 :list="friends"></comp3>     
        <!-- 父向子通信  有默认值-->
        <comp4></comp4>
        
        <!-- 子向父通信-->
        <comp5 :num="num" @inc="num++" @dec="num--"></comp5>
    </div>
    

</body>

<script>
    //定义Vue全局组件
    Vue.component("comp",{
        template : "<div><h2 style='display: inline-block;'>全局组件：{{num}}</h2><button @click='num++'>点击计数</button></div>",
        data : function(){
            return {
                num : 666,
            };
        },
    });
    
    //定义局部组件
    const comp2 = {
        template : "<div><h2 style='display: inline-block;'>局部组件：{{num}}</h2><button @click='num++'>点击计数</button>{{haha}}</div>",
        data : function(){
            return {
                num : 999,
            };
        },
        //props 接收父组件属性
        props : ['haha'],
    };

    
    //1.父向子通信-无默认值
    const comp3 = {
        template : "<ul><h3>父向子通信--无默认值</h3><li v-for='o in list'>{{o}}</li></ul>",
        props : ['list'],
    };
    //2.父向子通信-有默认值
    const comp4 = {
        template : "<ul><h3>父向子通信--有默认值</h3><li v-for='o in list'>{{o}}</li></ul>",
        props : {
            list : {
                type:Array,         //限定类型
                default:['Vue'],    //默认值
            },
        },
    };
    
     //1.子向父通信
    const comp5 = {                 //使用``符号替换""
        template : `
            <div>
                <button @click="add">加</button>
                <button @click="reduce">减</button>
                {{num}}
            </div>
        `,
        props : ['num'],
        methods : {
            add(){
                this.$emit("inc");  //定义事件
            },
            reduce(){
                this.$emit("dec");  //定义事件
            },
        },
    };
    
    
	new Vue({
		el : "#app",
		data : {
			name : "Vue啊",
			num : 1,
			message : "你们好！",
			word : "<h1>世界和平</h1>",
			dinner : [],
			show : true,
			color : "blue",
			showColor : true,
			birthday : 152468466666,
            friends: ['小张','小赵','小刘'],
			watchValue : {
				name : "jack",
				age : 20,
			},
			peoples : [ {
				name : '小亮',
				gender : '男',
				age : 20
			}, {
				name : '小红',
				gender : '女',
				age : 18
			}, {
				name : '小飞',
				gender : '男',
				age : 19
			} ]
		},
		methods : {
			sayhi : function(msg) {
				this.message = msg;
			},
			click : function(msg) {
				console.log(msg);
			}
		},
		computed : {
			birth : function() {
				console.log("创建birth属性");
				const d = new Date(this.birthday);
				return d.getFullYear() + "年" + d.getMonth() + "月" + d.getDay()
						+ "日";
			}
		},
		watch : {
			num : function(newVal, oldVal) {
				console.log(newVal + "," + oldVal);
			},
			watchValue : {
				deep : true,
				handler : function(newVal) {
					console.log(newVal.name + "," + newVal.age);
				}
			}
		},
		created : function() {
			console.log("Vue实例创建了");
		},
        
        //绑定局部组件
        components:{
            //compp:comp2     //将定义的对象注册为组件 key组件名 value组件对象属性
            comp2,comp3,comp4,comp5             //简写
        },
	});
</script>
</html>